global
    log stdout format raw local0
    maxconn 256

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend frontend_pg_write
    bind *:5432
    default_backend backend_pg_write

frontend frontend_pg_read
    bind *:5433
    default_backend backend_pg_read

backend backend_pg_write
    balance roundrobin
    server pg_write_1 postgres-social-network-1:5432 check maxconn 32

backend backend_pg_read
    balance roundrobin
    server pg_read_2 postgres-social-network-2:5432 check maxconn 64
    server pg_read_3 postgres-social-network-3:5432 check maxconn 64

listen stats
    bind *:8080
    mode http
    stats enable
    stats uri /stats
    stats realm HAPROXY\ Statistics
    stats auth admin:password
